{{define "title"}}{{.Path}} · {{.Tenant}}/{{.Repo}}{{end}}
{{define "content"}}
<div class="browse">
  <div class="repohdr"><span class="path">{{.Tenant}}/{{.Repo}}</span></div>
  <div class="path">{{.Path}}{{if not .Blob.TooLarge}} &nbsp;<a href="/{{.Tenant}}/{{.Repo}}/raw/{{urlpath .RefOrOID}}/{{urlpath .Path}}">[raw]</a>{{end}}</div>
  {{if .Blob.TooLarge}}
    <p class="empty">file too large to display ({{humansize .Blob.Size}})</p>
  {{else if .Blob.Binary}}
    <p class="empty">binary file ({{humansize .Blob.Size}}) — <a href="/{{.Tenant}}/{{.Repo}}/raw/{{urlpath .RefOrOID}}/{{urlpath .Path}}">download</a></p>
  {{else}}
    <div class="code">{{.Code}}</div>
  {{end}}
</div>
{{end}}
{{template "base" .}}
